DB_NAME=upcycleconnect
DB_USER=admin
DB_PASSWORD=root
DB_HOST=localhost
DB_PORT=5432
APP_PORT=8081
JWT_SECRET=your_jwt_secret_here
SMTP_HOST=localhost
SMTP_PORT=1025
SMTP_USER=
SMTP_PASS=
FROM_EMAIL=no-reply@upcycleconnect.com
